@import 'color-constants.scss';

$font_light: 300;
$font_regular: 400;
$font_medium: 500;
$font_bold: 700;
$font_black: 900;

$height_top-row: 55px;

$height_interactive: 28px;

$padding_modal-side: 24px;
$padding_modal-leftmost: 40px;
$padding_modal-rightmost: 24px;
$padding_modal-bottommost: 24px;

$indent: 8px;

$border-radius: 4px;

$font-size_h1: 17px;
$font-size_h2: 15px;
$font-size_h3: 13px;

$padding_window-right: 20px;
$padding_window-left: 30px;

$horizontal-indent: 10px;
$vertical-indent: 8px;